.background-animation
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  min-height: 100vh
  z-index: 1
  overflow: hidden
  background: rgba($d2, 0.4)
  will-change: transform

.shapeSvg
  --ty: -60%
  transform: translate3d(36%, var(--ty), 0) rotate(6.2deg)
  opacity: 0.18

.shapeSvg, .shape
  position: absolute
  left: 0
  top: 0

.shape-one
  z-index: 3
  @include break-between(1440px, 11240px)
    --ty: -20%
    --tx: 170%
    transform: translate3d(var(--tx), var(--ty), 0)
  @include break-between(768px, 1440px)
    --ty: 0%
    --tx: 120%
    transform: translate3d(var(--tx), var(--ty), 0)

.shape-two
  --ty: -47.2%
  fill: rgba(74, 216, 251, 0.4)
  // filter: drop-shadow(0 2em 1em rgba(0, 0, 0, 0.4))
  transform: translate3d(78%, var(--ty), 0)

.shape-three
  z-index: 2
  --ty: -22%
  // filter: drop-shadow(0 3em 3em rgba(#421F83, 0.4))
  transform: translate3d(97%, var(--ty), 0)

.shape-four
  z-index: 1
  --ty: -5%
  transform: translate3d(28%, var(--ty), 0)

.shape-five
  --ty: 45%
  transform: translate3d(-25%, var(--ty), 0)
