.game-logo-store-badges
  position: relative
  z-index: 9
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  @include break-max(769px)
    &.only-desktop
      display: none

  .store-badges
    @include break-min(767px)
      display: flex
      justify-content: center
      align-items: center

  .game-icon
    @include break-min(767px)
      height: 75px
      width: 75px
    @include smartphone
      height: 80px
      width: 80px

  .store-badge
    display: block
    margin: 0 0 0 10px
    img
      width: auto
    @include break-min(767px)
      img
        height: 75px
    @include smartphone
      img
        height: 35px


