.stores-wrp
  width: 30%
  max-width: 315px
  color: $c0
  text-align: center

  h2
    margin-bottom: 0
    font-size: rem(22px)

  h3
    margin-top: 0
    font-size: rem(22px)
    font-family: default-font(700)

  p
    margin: 15px 0
    font-size: rem(22px)
    font-family: default-font(500)

  .store-badge
    margin: 0 auto
    display: block
    max-width: 256px
    img
      width: 100%
      height: auto
