.stores-wrp
  width: 40%
  max-width: 340px
  color: $c0
  text-align: center

  h2
    margin-bottom: 0
    font-size: rem(21.46px)

  h3
    margin: 8px 0
    font-size: rem(21.46px)
    &:not(.thin)
      font-family: default-font(700)
    &.thin
      font-family: default-font(500)

  h4
    margin: 0 0 8px
    font-size: rem(17px)

