.stores-wrp
  width: 40%
  max-width: 340px
  color: $c0
  text-align: center

  h2
    margin-bottom: 0
    font-size: rem(21.46px)

  h3
    margin: 0 0 7px
    font-size: rem(22px)
    font-family: default-font(700)

  h4
    margin: 0 0 10px
    font-size: rem(17px)

  p
    margin: 15px 0
    font-size: rem(21.46px)
    font-family: default-font(500)
