footer
  display: flex
  padding: 20px 10px
  justify-content: center
  align-items: center
  flex-wrap: wrap
  background: #000

  img
    width: 240px
    height: auto

  dfn
    display: block
    margin: 10px 0
    width: 100%
    color: $c0
    font-size: rem(14px)
    font-style: normal
    text-align: center
