.social-media
  margin-bottom: 20px
  text-align: center

  .social-share
    margin-bottom: 20px

  h4
    font-size: rem(30px)
    font-family: default-font(300)
    color: $c0

  img
    width: 100%
    height: auto

  .facebook, .instagram, .twitter
    font-size: 0
    padding: 9px
    border-radius: 100px
    display: block
    border: 1px solid rgba($c0, 0)
    transition: 0.4s $enter background
    &:hover
      border-color: rgba($c0, 0.2)
      background: rgba($c0, 0.2)
  .social-item
    height: 80px
    width: 80px
    fill: $c0

  .hashtag
    display: block
    color: $c0
    font-size: rem(28px)
    font-family: default-font(300)
