<div id="interactive-game">
  <h2>Are you prepared enough to win?</h2>
  <h3>Test your linguistic proficiency</h3>
  <img class="oxford-logo" src="../../assets/images/oxford-logo.png" width="331" height="55" />

  <div class="question-counter flex v-center">
    <h5>Question <span>1</span> of 12</h5>
  </div>

  <div class="carousel">
    <h2 class="question">This is a sample two line question just for testing purposes?</h2>

    <div class="answers">
      <div style="--size: 14%" class="answer wrong">
        <div class="values flex sp-between v-center">
          <h6>Eloquacious</h6>
          <span class="count">5,315,234</span>
        </div>
      </div>

      <div style="--size: 36%" class="answer right">
        <div class="values flex sp-between v-center">
          <h6>Spaghettification</h6>
          <span class="count">11,315,234</span>
        </div>
      </div>

      <div style="--size: 50%" class="answer">
        <div class="values flex sp-between v-center">
          <h6>Widdershins</h6>
          <span class="count">915,234</span>
        </div>
      </div>

      <button type="button" class="oxford-explains-btn">
        <svg id="icon-lupe" viewBox="0 0 24 24"><use href="#ic-lupe" /></svg>
        Oxford Dictionaries explains
      </button>
    </div>
  </div>
</div>
